In [11]:
#Use findspark to confirm pyspark works
import findspark
import streamlit
findspark.init()

In [12]:
#Import pyspark
import pyspark
from pyspark import SparkContext, SparkConf
from collections import Counter
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import split, col

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

conf = SparkConf().setAppName('Project').setMaster('local')
sparkContext = SparkContext.getOrCreate(conf=conf) #SparkContext(conf = conf)

In [21]:
# Read in and assign column names
# Income data
Income = spark.read.csv('income_csv.csv',header=False)
Income = Income.toDF('Area_code','Area','Self_num_ind','Self_mean','Self_median','Num_ind','Mean','Median','Pens_num_ind','Pens_mean',
                     'Pens_median','Other_num_ind','Other_mean','Other_median','Tot_num_ind','Tot_mean','Tot_median','Tax_num_ind','Tax_mean','Tax_median','Tot_tax')

# Drop not applicable
Income = Income.na.drop()

# Remove original formatting
Income = Income.filter(Income.Area!='Region/County')

# Population data
Population = spark.read.csv('population_data.csv',header=False)
Population = Population.toDF('Code','Name','Geography','All ages','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15',
                     '16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37',
                     '38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59',
                     '60','61','62','63','64','65','66','67','68','69','70','71','72','73','74','75','76','77','78','79','80','81','82','83','84','85','86','87','88','89','90+')

# Drop not applicable
Population = Population.na.drop()

# Remove original formatting
Population = Population.filter(Population.Code!='Code')

# Income data
Statements = spark.read.csv('Transposed_Consolidated_Income_Statements.csv',header=False)
Statements = Statements.toDF('Company','Fina_period','State','Revenue','Cost','Gross','Other','Disp_close','Admin','Operating','Fin_out','Fin_in','Share_loss','Before_tax','Tax','Profit')

# Remove original formatting
Statements = Statements.drop(col('Company'))
Statements = Statements.drop(col('Fina_period'))
Statements = Statements.drop(col('State'))

# Remove original formatting
Statements = Statements.filter(Statements.Cost!='Cost of sales')

Population.show()

+---------+--------------------+--------------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|     Code|                Name|           Geography|    All ages|      0|      1|      2|      3|      4|      5|      6|      7|      8|      9|     10|     11|     12|     13|     14|     15|     16|     17|     18|     19|     20|     21|     22|     23|     24|     25|     26|     27|     28|     29|     30|     31|     32|     33|     34|     35|     36|     37|     38|     39|     40|     41|     42|     43|     44|     45|     46|     47|     48|     49|     50|     51|     52|     53|     54|     55|     56|     57|     58|     59|     60|     61|     62|     63|     64|     65|     66|     67|     68|     69|     70|     71|     72|     73|     74|     75|     76|     77|     78|     79|     80|     81|     82|     83|     84|     85|     86|     87|     88|     89|    90+|
+---------+--------------------+--------------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|K04000001|   ENGLAND AND WALES|             Country| 60,854,727 |600,801|641,879|638,385|661,083|672,685|681,900|697,641|717,150|710,833|714,772|732,612|751,923|752,347|742,256|736,698|743,900|716,641|705,108|707,670|716,527|711,854|713,853|715,140|738,033|768,416|778,100|795,056|782,863|795,733|816,611|818,170|843,787|853,772|852,228|847,155|856,627|837,184|830,098|826,094|799,549|799,458|795,121|801,792|804,769|770,485|716,103|702,628|716,717|731,450|739,902|768,197|797,244|826,458|804,402|822,081|818,332|822,945|818,740|819,904|807,652|787,224|767,486|737,013|705,294|684,873|663,659|634,051|607,219|580,893|579,378|566,107|545,374|544,313|547,740|555,344|580,460|620,020|465,366|442,487|430,180|387,059|335,360|288,359|287,413|271,872|250,133|222,324|195,657|170,123|142,674|551,758|
|E92000001|             ENGLAND|             Country| 57,690,323 |573,100|611,983|608,924|629,972|640,658|648,548|663,754|681,559|675,636|679,270|696,169|714,362|714,228|704,780|699,401|706,006|680,553|669,743|671,208|677,553|673,283|674,617|676,878|700,947|730,647|740,801|755,921|745,430|757,884|777,813|779,256|803,070|812,586|811,784|806,727|815,398|796,852|790,301|786,596|761,753|761,526|757,565|763,805|766,371|734,135|682,602|669,430|682,668|696,007|703,567|729,662|756,142|782,845|762,354|778,013|774,855|778,477|774,198|774,216|762,104|742,788|723,731|694,877|664,557|644,790|624,637|596,453|571,250|546,316|544,215|531,268|512,151|511,067|514,065|521,443|545,087|583,339|437,949|416,050|404,700|363,994|314,801|270,597|270,666|256,427|235,873|209,664|184,536|160,616|134,632|521,291|
|E12000001|          NORTH EAST|              Region|  2,711,380 | 24,711| 26,256| 26,370| 26,959| 28,242| 28,768| 29,763| 30,584| 30,231| 30,775| 31,701| 32,141| 32,483| 31,867| 31,220| 31,975| 30,632| 30,549| 30,752| 34,581| 36,861| 35,309| 32,769| 31,385| 31,458| 32,016| 33,312| 32,648| 33,472| 33,759| 34,347| 35,664| 35,636| 35,183| 34,698| 35,915| 35,288| 35,531| 34,879| 33,579| 33,340| 32,987| 33,287| 33,531| 32,444| 28,952| 27,799| 29,636| 30,217| 30,629| 32,475| 35,153| 37,108| 35,420| 36,237| 37,045| 37,907| 38,322| 38,946| 38,490| 38,418| 38,118| 36,392| 35,223| 35,294| 34,569| 33,046| 31,759| 30,141| 29,796| 29,239| 27,834| 27,464| 27,532| 27,733| 28,721| 30,570| 22,233| 20,894| 19,754| 17,067| 15,345| 13,718| 13,665| 12,776| 11,874| 10,641|  8,949|  8,003|  6,504| 23,914|
|E06000047|       County Durham|   Unitary Authority|    532,182 |  4,410|  4,736|  4,805|  4,964|  5,084|  5,199|  5,352|  5,647|  5,654|  5,812|  5,989|  6,022|  6,116|  6,127|  5,857|  6,111|  5,958|  5,786|  6,108|  8,276| 10,046|  8,641|  6,859|  5,885|  5,651|  5,661|  5,945|  5,774|  5,796|  5,829|  6,059|  6,279|  6,446|  6,289|  6,309|  6,470|  6,377|  6,425|  6,277|  6,177|  6,294|  6,229|  6,287|  6,226|  6,254|  5,606|  5,379|  5,697|  5,846|  6,050|  6,739|  7,147|  7,629|  7,203|  7,615|  7,778|  7,989|  8,024|  8,174|  8,038|  7,824|  7,855|  7,376|  7,009|  7,206|  6,904|  6,656|  6,415|  6,228|  6,045|  6,029|  5,697|  5,724|  5,658|  5,797|  5,838|  6,305|  4,656|  4,488|  4,316|  3,583|  3,180|  2,922|  2,790|  2,542|  2,361|  2,164|  1,825|  1,596|  1,284|  4,497|
|E06000005|          Darlington|   Unitary Authority|    110,562 |  1,010|  1,115|  1,102|  1,157|  1,168|  1,210|  1,152|  1,244|  1,257|  1,273|  1,351|  1,341|  1,335|  1,361|  1,385|  1,380|  1,298|  1,272|  1,249|    951|    851|    904|  1,008|  1,176|  1,261|  1,293|  1,295|  1,342|  1,320|  1,375|  1,406|  1,423|  1,559|  1,464|  1,404|  1,501|  1,404|  1,447|  1,353|  1,382|  1,364|  1,350|  1,395|  1,419|  1,425|  1,326|  1,225|  1,305|  1,331|  1,368|  1,406|  1,526|  1,604|  1,559|  1,552|  1,568|  1,561|  1,633|  1,628|  1,511|  1,602|  1,545|  1,531|  1,412|  1,423|  1,385|  1,292|  1,294|  1,190|  1,164|  1,185|  1,130|  1,115|  1,083|  1,165|  1,165|  1,274|    953|    902|    796|    687|    633|    592|    613|    554|    503|    448|    377|    354|    277|  1,083|
|E06000001|          Hartlepool|   Unitary Authority|     95,366 |    915|    960|    981|  1,066|  1,081|  1,069|  1,152|  1,155|  1,105|  1,183|  1,187|  1,193|  1,247|  1,245|  1,241|  1,275|  1,151|  1,211|  1,145|  1,021|    848|    924|  1,079|  1,108|  1,190|  1,077|  1,214|  1,066|  1,159|  1,178|  1,155|  1,219|  1,269|  1,188|  1,224|  1,253|  1,229|  1,218|  1,193|  1,120|  1,081|  1,129|  1,114|  1,117|  1,076|    977|    965|  1,015|    992|  1,031|  1,169|  1,232|  1,325|  1,283|  1,300|  1,358|  1,441|  1,422|  1,455|  1,392|  1,449|  1,419|  1,415|  1,273|  1,335|  1,159|  1,204|  1,092|  1,071|    957|  1,014|    996|    917|  1,007|    974|    973|  1,014|    736|    655|    609|    504|    500|    442|    465|    407|    429|    382|    266|    300|    206|    828|
|E06000002|       Middlesbrough|   Unitary Authority|    152,650 |  1,824|  1,798|  1,766|  1,830|  1,889|  1,940|  2,081|  1,927|  2,019|  1,982|  2,110|  2,064|  2,119|  1,991|  1,814|  1,884|  1,890|  1,863|  1,826|  1,873|  1,703|  1,796|  1,974|  2,073|  2,213|  2,596|  2,660|  2,523|  2,517|  2,549|  2,542|  2,553|  2,304|  2,389|  2,345|  2,378|  2,321|  2,246|  2,121|  2,041|  1,955|  1,853|  1,855|  1,778|  1,728|  1,478|  1,453|  1,540|  1,549|  1,511|  1,588|  1,636|  1,720|  1,686|  1,634|  1,787|  1,747|  1,831|  1,876|  1,844|  1,833|  1,909|  1,753|  1,717|  1,681|  1,696|  1,651|  1,516|  1,463|  1,358|  1,384|  1,254|  1,236|  1,207|  1,175|  1,195|  1,311|    928|    882|    787|    735|    722|    580|    574|    557|    520|    457|    424|    341|    301|  1,120|
|E06000057|      Northumberland|   Unitary Authority|    327,055 |  2,549|  2,664|  2,813|  2,772|  2,976|  3,156|  3,223|  3,328|  3,339|  3,460|  3,562|  3,670|  3,707|  3,565|  3,498|  3,677|  3,395|  3,458|  3,249|  2,560|  2,475|  2,435|  2,746|  2,919|  3,117|  3,207|  3,164|  3,076|  3,268|  3,264|  3,342|  3,606|  3,589|  3,552|  3,546|  3,716|  3,724|  3,633|  3,759|  3,595|  3,607|  3,660|  3,648|  3,916|  3,777|  3,323|  3,377|  3,581|  3,767|  3,851|  4,077|  4,518|  4,744|  4,480|  4,696|  4,881|  4,994|  5,073|  5,366|  5,376|  5,273|  5,339|  5,103|  5,188|  5,087|  4,954|  4,825|  4,754|  4,502|  4,531|  4,435|  4,259|  4,240|  4,234|  4,305|  4,701|  4,843|  3,502|  3,348|  3,175|  2,764|  2,339|  2,055|  2,004|  1,873|  1,706|  1,586|  1,358|  1,203|    951|  3,552|
|E06000003|Redcar and Cleveland|   Unitary Authority|    137,938 |  1,259|  1,359|  1,226|  1,367|  1,416|  1,419|  1,535|  1,488|  1,566|  1,564|  1,691|  1,740|  1,718|  1,618|  1,544|  1,675|  1,629|  1,627|  1,469|  1,270|  1,072|  1,174|  1,211|  1,435|  1,491|  1,426|  1,399|  1,483|  1,482|  1,550|  1,526|  1,698|  1,683|  1,580|  1,604|  1,628|  1,581|  1,573|  1,678|  1,501|  1,493|  1,575|  1,579|  1,567|  1,458|  1,384|  1,320|  1,472|  1,447|  1,561|  1,665|  1,832|  1,973|  1,908|  1,974|  1,969|  2,201|  2,262|  2,163|  2,121|  2,146|  2,131|  2,002|  1,959|  1,955|  1,969|  1,773|  1,778|  1,631|  1,719|  1,672|  1,583|  1,575|  1,577|  1,659|  1,645|  1,838|  1,410|  1,270|  1,234|  1,000|    992|    851|    854|    828|    685|    637|    546|    456|    370|  1,314|
|E06000004|    Stockton-on-Tees|   Unitary Authority|    202,415 |  1,924|  2,078|  2,032|  2,203|  2,266|  2,282|  2,451|  2,542|  2,465|  2,470|  2,731|  2,667|  2,815|  2,654|  2,674|  2,705|  2,562|  2,566|  2,413|  1,894|  1,495|  1,554|  1,799|  2,165|  2,206|  2,164|  2,546|  2,357|  2,428|  2,634|  2,684|  2,798|  2,751|  2,710|  2,751|  2,894|  2,752|  2,966|  2,906|  2,805|  2,681|  2,574|  2,734|  2,647|  2,553|  2,298|  2,173|  2,295|  2,358|  2,424|  2,355|  2,686|  2,763|  2,785|  2,722|  2,780|  2,833|  2,826|  2,751|  2,740|  2,820|  2,801|  2,618|  2,574|  2,550|  2,463|  2,461|  2,293|  2,093|  2,157|  2,039|  2,012|  1,965|  1,909|  1,930|  2,007|  2,086|  1,492|  1,398|  1,328|  1,155|  1,133|    993|    941|    885|    819|    693|    568|    535|    390|  1,570|
|E11000007|Tyne and Wear (Me...| Metropolitan County|  1,153,212 | 10,820| 11,546| 11,645| 11,600| 12,362| 12,493| 12,817| 13,253| 12,826| 13,031| 13,080| 13,444| 13,426| 13,306| 13,207| 13,268| 12,749| 12,766| 13,293| 16,736| 18,371| 17,881| 16,093| 14,624| 14,329| 14,592| 15,089| 15,027| 15,502| 15,380| 15,633| 16,088| 16,035| 16,011| 15,515| 16,075| 15,900| 16,023| 15,592| 14,958| 14,865| 14,617| 14,675| 14,861| 14,173| 12,560| 11,907| 12,731| 12,927| 12,833| 13,476| 14,576| 15,350| 14,516| 14,744| 14,924| 15,141| 15,251| 15,533| 15,468| 15,471| 15,119| 14,594| 14,091| 14,057| 14,039| 13,184| 12,617| 11,963| 11,865| 11,481| 10,903| 10,692| 10,857| 10,728| 11,197| 11,899|  8,556|  7,951|  7,509|  6,639|  5,846|  5,283|  5,424|  5,130|  4,851|  4,274|  3,585|  3,218|  2,725|  9,950|
|E08000037|           Gateshead|Metropolitan Dist...|    199,139 |  1,818|  1,958|  2,013|  1,988|  2,122|  2,108|  2,304|  2,245|  2,333|  2,286|  2,215|  2,361|  2,428|  2,345|  2,361|  2,178|  2,327|  2,394|  2,458|  2,188|  1,911|  1,715|  1,936|  2,060|  2,307|  2,506|  2,546|  2,597|  2,726|  2,677|  2,729|  2,801|  2,706|  2,727|  2,646|  2,735|  2,675|  2,753|  2,643|  2,667|  2,633|  2,450|  2,552|  2,608|  2,436|  2,220|  2,110|  2,232|  2,244|  2,299|  2,318|  2,725|  2,769|  2,677|  2,700|  2,689|  2,865|  2,846|  2,812|  2,720|  2,794|  2,758|  2,573|  2,484|  2,453|  2,520|  2,370|  2,127|  2,172|  2,034|  2,017|  1,897|  1,889|  2,003|  2,000|  2,098|  2,212|  1,525|  1,548|  1,396|  1,228|  1,113|  1,045|  1,043|  1,054|    936|    799|    645|    630|    534|  1,844|
|E08000021| Newcastle upon Tyne|Metropolitan Dist...|    311,976 |  3,054|  3,243|  3,206|  3,221|  3,340|  3,360|  3,376|  3,571|  3,347|  3,473|  3,506|  3,399|  3,477|  3,420|  3,414|  3,340|  3,177|  3,162|  3,894|  8,552| 10,747| 10,443|  8,155|  6,009|  5,187|  5,022|  5,110|  5,074|  4,944|  4,705|  4,675|  4,557|  4,357|  4,636|  4,136|  4,436|  4,272|  4,183|  4,089|  3,947|  3,898|  3,975|  3,739|  3,744|  3,529|  3,185|  3,026|  3,267|  3,258|  3,142|  3,167|  3,215|  3,505|  3,217|  3,279|  3,263|  3,357|  3,375|  3,457|  3,423|  3,446|  3,331|  3,162|  3,110|  3,109|  3,016|  2,778|  2,740|  2,482|  2,462|  2,412|  2,286|  2,137|  2,220|  2,136|  2,232|  2,488|  1,726|  1,628|  1,560|  1,337|  1,203|  1,058|  1,141|  1,069|    992|    954|    809|    716|    585|  2,414|
|E08000022|      North Tyneside|Metropolitan Dist...|    211,769 |  1,885|  2,058|  1,995|  2,091|  2,378|  2,334|  2,338|  2,474|  2,373|  2,449|  2,495|  2,466|  2,441|  2,528|  2,441|  2,506|  2,358|  2,427|  2,234|  1,674|  1,602|  1,612|  1,717|  1,967|  2,130|  2,200|  2,403|  2,341|  2,538|  2,609|  2,623|  2,801|  2,906|  2,833|  2,924|  2,912|  3,031|  3,064|  2,996|  2,965|  2,923|  2,855|  3,014|  3,134|  2,930|  2,491|  2,420|  2,562|  2,643|  2,565|  2,761|  2,989|  2,987|  2,853|  2,849|  2,907|  2,911|  2,935|  3,007|  3,031|  3,058|  2,938|  2,784|  2,775|  2,666|  2,729|  2,507|  2,502|  2,435|  2,420|  2,408|  2,220|  2,187|  2,183|  2,195|  2,350|  2,448|  1,779|  1,614|  1,584|  1,320|  1,146|    986|  1,080|    975|    955|    810|    708|    638|    523|  1,960|
|E08000023|      South Tyneside|Metropolitan Dist...|    149,270 |  1,413|  1,425|  1,590|  1,499|  1,613|  1,702|  1,697|  1,810|  1,697|  1,759|  1,733|  1,765|  1,810|  1,757|  1,770|  1,779|  1,653|  1,624|  1,577|  1,410|  1,292|  1,312|  1,391|  1,516|  1,566|  1,578|  1,632|  1,701|  1,746|  1,754|  1,881|  1,869|  2,029|  1,968|  2,023|  2,089|  2,079|  2,156|  2,031|  1,883|  1,846|  1,876|  1,883|  1,883|  1,878|  1,529|  1,482|  1,573|  1,656|  1,669|  1,745|  1,898|  2,038|  1,986|  2,109|  2,141|  2,114|  2,250|  2,259|  2,278|  2,227|  2,164|  2,197|  2,065|  2,105|  2,000|  1,886|  1,876|  1,725|  1,780|  1,659|  1,497|  1,561|  1,598|  1,538|  1,595|  1,601|  1,271|  1,101|  1,025|    987|    849|    766|    759|    714|    704|    625|    515|    444|    366|  1,398|
|E08000024|          Sunderland|Metropolitan Dist...|    281,058 |  2,650|  2,862|  2,841|  2,801|  2,909|  2,989|  3,102|  3,153|  3,076|  3,064|  3,131|  3,453|  3,270|  3,256|  3,221|  3,465|  3,234|  3,159|  3,130|  2,912|  2,819|  2,799|  2,894|  3,072|  3,139|  3,286|  3,398|  3,314|  3,548|  3,635|  3,725|  4,060|  4,037|  3,847|  3,786|  3,903|  3,843|  3,867|  3,833|  3,496|  3,565|  3,461|  3,487|  3,492|  3,400|  3,135|  2,869|  3,097|  3,126|  3,158|  3,485|  3,749|  4,051|  3,783|  3,807|  3,924|  3,894|  3,845|  3,998|  4,016|  3,946|  3,928|  3,878|  3,657|  3,724|  3,774|  3,643|  3,372|  3,149|  3,169|  2,985|  3,003|  2,918|  2,853|  2,859|  2,922|  3,150|  2,255|  2,060|  1,944|  1,767|  1,535|  1,428|  1,401|  1,318|  1,264|  1,086|    908|    790|    717|  2,334|
|E12000002|          NORTH WEST|              Region|  7,600,126 | 75,510| 81,106| 80,788| 83,966| 85,865| 86,148| 89,017| 91,340| 90,529| 91,262| 93,283| 94,937| 95,283| 93,707| 93,148| 93,733| 90,027| 89,611| 90,291| 93,938| 95,599| 95,463| 92,437| 93,159| 95,970| 95,737| 98,410| 95,482| 97,549| 99,757|100,797|103,741|106,229|104,745|104,215|106,185|102,288|103,035|102,791| 98,401| 98,071| 96,694| 96,074| 96,502| 91,773| 84,864| 82,748| 85,603| 87,944| 88,896| 93,214| 98,795|102,983|100,187|103,214|101,543|102,647|102,204|103,785|102,784|100,203| 98,938| 94,606| 90,656| 87,468| 84,785| 81,238| 77,606| 73,841| 73,363| 72,262| 69,158| 69,509| 69,697| 70,310| 73,447| 78,446| 56,979| 53,754| 52,690| 47,590| 41,397| 36,696| 35,599| 33,648| 30,848| 27,054| 23,801| 20,213| 16,565| 61,755|
|E06000008|Blackburn with Da...|   Unitary Authority|    157,503 |  1,819|  1,973|  2,014|  2,083|  2,137|  2,089|  2,235|  2,303|  2,276|  2,234|  2,346|  2,411|  2,472|  2,425|  2,490|  2,424|  2,318|  2,341|  2,235|  1,899|  1,830|  1,893|  1,873|  1,988|  2,071|  2,060|  1,959|  1,982|  2,051|  2,071|  2,079|  2,142|  2,221|  2,037|  2,168|  2,245|  2,179|  2,193|  2,291|  2,183|  2,163|  2,246|  2,209|  2,189|  2,042|  1,960|  1,857|  1,873|  1,901|  1,906|  2,042|  2,063|  2,047|  2,028|  2,091|  2,029|  1,886|  1,876|  1,903|  1,814|  1,819|  1,761|  1,675|  1,618|  1,561|  1,426|  1,415|  1,383|  1,348|  1,212|  1,297|  1,178|  1,117|  1,144|  1,129|  1,186|  1,230|    850|    790|    769|    678|    600|    527|    511|    518|    460|    337|    344|    282|    227|    946|
|E06000009|           Blackpool|   Unitary Authority|    142,708 |  1,478|  1,465|  1,428|  1,514|  1,647|  1,559|  1,642|  1,553|  1,681|  1,643|  1,632|  1,662|  1,591|  1,676|  1,627|  1,660|  1,600|  1,605|  1,659|  1,409|  1,166|  1,316|  1,495|  1,553|  1,571|  1,625|  1,713|  1,649|  1,670|  1,758|  1,802|  1,872|  2,025|  1,963|  1,914|  1,946|  1,958|  1,892|  1,824|  1,720|  1,730|  1,609|  1,578|  1,712|  1,557|  1,439|  1,473|  1,563|  1,544|  1,627|  1,829|  1,953|  2,048|  2,049|  2,225|  2,093|  2,226|  2,246|  2,135|  2,269|  2,147|  2,185|  2,036|  1,917|  1,896|  1,806|  1,673|  1,729|  1,503|  1,452|  1,390|  1,354|  1,349|  1,325|  1,462|  1,528|  1,599|  1,220|  1,108|  1,082|  1,012|    825|    796|    747|    731|    621|    616|    536|    430|    338|  1,227|
|E06000049|       Cheshire East|   Unitary Authority|    412,458 |  3,787|  4,104|  4,132|  4,225|  4,240|  4,593|  4,550|  4,689|  4,577|  4,578|  4,829|  4,946|  4,903|  4,743|  4,799|  4,846|  4,542|  4,551|  4,380|  3,089|  2,401|  2,677|  3,334|  3,945|  4,181|  4,204|  4,303|  4,236|  4,625|  4,743|  4,849|  4,995|  5,442|  5,257|  5,284|  5,418|  5,254|  5,388|  5,435|  5,107|  5,167|  5,090|  5,099|  5,258|  5,056|  4,762|  4,821|  4,971|  5,175|  5,230|  5,451|  5,813|  6,073|  5,879|  6,229|  6,304|  6,167|  6,189|  6,213|  6,087|  6,191|  5,950|  5,737|  5,396|  5,171|  4,962|  4,668|  4,567|  4,492|  4,466|  4,422|  4,268|  4,424|  4,418|  4,487|  4,928|  5,341|  3,785|  3,743|  3,759|  3,307|  2,771|  2,421|  2,401|  2,204|  2,142|  1,868|  1,698|  1,461|  1,135|  4,660|
+---------+--------------------+--------------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [46]:
import numpy as np

# Condensing the data to only what is relevant
# Dropping self employement data

# Income condensed
Cond_Inc = Income

Cond_Inc = Cond_Inc.drop(col('Self_num_ind'))
Cond_Inc = Cond_Inc.drop(col('Self_mean'))
Cond_Inc = Cond_Inc.drop(col('Self_median'))

# Dropping pension data
Cond_Inc = Cond_Inc.drop(col('Pens_num_ind'))
Cond_Inc = Cond_Inc.drop(col('Pens_mean'))
Cond_Inc = Cond_Inc.drop(col('Pens_median'))

# Remove the non-applicable areas
Cond_Inc = Cond_Inc.filter(Cond_Inc.Area_code != 'Not applicable')

# Get all the area codes in the condensed income dataframe
codes_inc = [row.Area_code for row in Cond_Inc.select('Area_code').collect()]

# Population condensed
Cond_Pop = Population

# Dropping columns for children
for colu in range(0,16):
    Cond_Pop = Cond_Pop.drop('',col(str(colu)))

# Dropping repeated data in both population and income
Cond_Pop = Cond_Pop.drop(col('Geography'))
Cond_Pop = Cond_Pop.drop(col('Name'))

# Get codes for population table
codes_pop = [row.Code for row in Cond_Pop.select('Code').collect()]

for code in codes_pop[:]:
    if (code in codes_inc):
        codes_pop.remove(code)
        codes_inc.remove(code)


for i in range(0,len(codes_pop)):
    Cond_Pop = Cond_Pop.where(Cond_Pop.Code == codes_pop[i])

Cond_Pop.show()

Py4JJavaError: An error occurred while calling o6112.showString.
: java.lang.OutOfMemoryError: Java heap space
	at org.apache.spark.sql.catalyst.expressions.AtLeastNNonNulls.copy(nullExpressions.scala:411)
	at org.apache.spark.sql.catalyst.expressions.AtLeastNNonNulls.withNewChildrenInternal(nullExpressions.scala:499)
	at org.apache.spark.sql.catalyst.expressions.AtLeastNNonNulls.withNewChildrenInternal(nullExpressions.scala:411)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$withNewChildren$2(TreeNode.scala:339)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$Lambda$1425/0x0000000840b2ec40.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.withNewChildren(TreeNode.scala:338)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapChildren(TreeNode.scala:699)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:466)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transform(TreeNode.scala:405)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode.$anonfun$getAllValidConstraints$2(LogicalPlan.scala:228)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode$$Lambda$3194/0x0000000841366840.apply(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.ExpressionSet.$anonfun$map$1(ExpressionSet.scala:138)
	at org.apache.spark.sql.catalyst.expressions.ExpressionSet.$anonfun$map$1$adapted(ExpressionSet.scala:138)
	at org.apache.spark.sql.catalyst.expressions.ExpressionSet$$Lambda$3195/0x0000000841367840.apply(Unknown Source)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at org.apache.spark.sql.catalyst.expressions.ExpressionSet.map(ExpressionSet.scala:138)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode.$anonfun$getAllValidConstraints$1(LogicalPlan.scala:228)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode.$anonfun$getAllValidConstraints$1$adapted(LogicalPlan.scala:223)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode$$Lambda$3193/0x0000000841366040.apply(Unknown Source)
	at scala.collection.immutable.List.foreach(List.scala:431)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode.getAllValidConstraints(LogicalPlan.scala:223)
	at org.apache.spark.sql.catalyst.plans.logical.UnaryNode.getAllValidConstraints$(LogicalPlan.scala:221)
	at org.apache.spark.sql.catalyst.plans.logical.Project.getAllValidConstraints(basicLogicalOperators.scala:71)
	at org.apache.spark.sql.catalyst.plans.logical.Project.validConstraints$lzycompute(basicLogicalOperators.scala:92)
	at org.apache.spark.sql.catalyst.plans.logical.Project.validConstraints(basicLogicalOperators.scala:91)
	at org.apache.spark.sql.catalyst.plans.logical.QueryPlanConstraints.constraints(QueryPlanConstraints.scala:34)
	at org.apache.spark.sql.catalyst.plans.logical.QueryPlanConstraints.constraints$(QueryPlanConstraints.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.constraints$lzycompute(LogicalPlan.scala:32)