In [1]:
#Use findspark to confirm pyspark works
import findspark
import streamlit
findspark.init()

In [2]:
#Import pyspark
import pyspark
from pyspark import SparkContext, SparkConf
from collections import Counter
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import split, col

from pyspark.sql import SparkSession
#spark = SparkSession.builder.getOrCreate()
spark = SparkSession.builder.master('local[10]').config('spark.driver.memory','10g').getOrCreate()

conf = SparkConf().setAppName('Project').setMaster('local')
sparkContext = SparkContext.getOrCreate(conf=conf) #SparkContext(conf = conf)

/usr/local/lib/python3.12/site-packages/pyspark/bin/load-spark-env.sh: line 68: ps: command not found
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/06 11:36:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Read in and assign column names
# Income data
Income = spark.read.csv('income_csv_cleaned_no_commas.csv',header=False)
Income = Income.toDF('Area_code','Area','Self_num_ind','Self_mean','Self_median','Num_ind','Mean','Median','Pens_num_ind','Pens_mean',
                     'Pens_median','Other_num_ind','Other_mean','Other_median','Tot_num_ind','Tot_mean','Tot_median','Tax_num_ind','Tax_mean','Tax_median','Tot_tax')

# Drop not applicable
Income = Income.na.drop()
Income = Income.filter(Income.Area_code!='Not applicable')

# Remove original formatting
Income = Income.filter(Income.Area!='Region/County')

# Population data
Population = spark.read.csv('population_data.csv',header=False)
Population = Population.toDF('Code','Name','Geography','All ages','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15',
                     '16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37',
                     '38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59',
                     '60','61','62','63','64','65','66','67','68','69','70','71','72','73','74','75','76','77','78','79','80','81','82','83','84','85','86','87','88','89','90+')

# Drop not applicable
Population = Population.na.drop()

# Remove original formatting
Population = Population.filter(Population.Code!='Code')

# Income data
Statements = spark.read.csv('Transposed_Consolidated_Income_Statements.csv',header=False)
Statements = Statements.toDF('Company','Fina_period','State','Revenue','Cost','Gross','Other','Disp_close','Admin','Operating','Fin_out','Fin_in','Share_loss','Before_tax','Tax','Profit')

# Remove original formatting
Statements = Statements.drop(col('Company'))
Statements = Statements.drop(col('Fina_period'))
Statements = Statements.drop(col('State'))

# Remove original formatting
Statements = Statements.filter(Statements.Cost!='Cost of sales')

Income.show()

+---------+--------------------+------------+---------+-----------+-------+-----+------+------------+---------+-----------+-------------+----------+------------+-----------+--------+----------+-----------+--------+----------+-------+
|Area_code|                Area|Self_num_ind|Self_mean|Self_median|Num_ind| Mean|Median|Pens_num_ind|Pens_mean|Pens_median|Other_num_ind|Other_mean|Other_median|Tot_num_ind|Tot_mean|Tot_median|Tax_num_ind|Tax_mean|Tax_median|Tot_tax|
+---------+--------------------+------------+---------+-----------+-------+-----+------+------------+---------+-----------+-------------+----------+------------+-----------+--------+----------+-----------+--------+----------+-------+
|K02000001|      United Kingdom|        3520|    30300|      16300|  25000|36800| 26500|        8560|    19900|      16900|        14200|      7240|          60|      33000|   39400|     27200|      33000|    6850|      2620| 226000|
|E92000001|             England|        3030|    30900|      16500|  21000|37600| 26700|        7050|    20000|      16800|        12000|      7630|          64|      27700|   40300|     27500|      27700|    7160|      2660| 198000|
|E12000001|          North East|          93|    22300|      15000|    929|30200| 24700|         366|    18400|      16300|          508|      3840|          31|       1230|   31500|     24900|       1230|    4110|      2230|   5060|
|E11000007|         Tyne & Wear|          35|    23200|      14800|    396|30500| 25000|         136|    18000|      16200|          197|      3800|          29|        508|   31700|     25200|        508|    4120|      2290|   2090|
|E12000002|          North West|         303|    22900|      15700|   2690|32000| 25000|         925|    18900|      16500|         1410|      5930|          43|       3490|   34000|     25700|       3490|    4930|      2360|  17200|
|E10000006|             Cumbria|          28|    20000|      14500|    191|30200| 24900|          87|    18900|      16500|          115|      5170|          61|        265|   32300|     25800|        265|    4190|      2370|   1110|
|E11000001|  Greater Manchester|         111|    23600|      16100|   1030|31800| 25000|         290|    17900|      16100|          500|      5730|          36|       1290|   33600|     25500|       1290|    4810|      2350|   6190|
|E10000017|          Lancashire|          55|    22000|      15500|    440|30500| 24200|         183|    19100|      16800|          265|      6250|          55|        600|   32900|     25200|        600|    4510|      2260|   2710|
|E11000002|          Merseyside|          49|    22600|      16400|    503|30500| 25000|         166|    18300|      16100|          235|      4380|          29|        642|   32000|     25200|        642|    4310|      2310|   2760|
|E12000003|Yorkshire and the...|         235|    22900|      15400|   1940|30900| 24700|         696|    18700|      16500|         1130|      5210|          43|       2550|   33000|     25300|       2550|    4590|      2300|  11700|
|E10000023|     North Yorkshire|          42|    26700|      15900|    223|33200| 24400|         112|    21000|      17500|          168|      8230|          91|        324|   38000|     26800|        324|    6270|      2500|   2030|
|E11000003|     South Yorkshire|          56|    21300|      15200|    478|29800| 24400|         160|    17800|      16200|          260|      4130|          30|        620|   31300|     24700|        620|    4040|      2200|   2510|
|E11000006|      West Yorkshire|          93|    22700|      15500|    816|31200| 25200|         264|    18500|      16400|          472|      5000|          44|       1060|   32900|     25500|       1060|    4510|      2330|   4770|
|E12000004|       East Midlands|         223|    23500|      16400|   1810|31700| 25000|         643|    18900|      16500|         1010|      5780|          47|       2380|   33800|     25800|       2380|    4850|      2370|  11500|
|E10000007|          Derbyshire|          37|    21700|      15600|    301|31500| 24800|         126|    18700|      16500|          182|      5640|          44|        411|   33200|     25200|        411|    4650|      2250|   1910|
|E10000018|      Leicestershire|          35|    25400|      17300|    282|33700| 26700|         105|    19600|      17000|          178|      6750|          63|        374|   36500|     27600|        374|    5570|      2640|   2080|
|E10000019|        Lincolnshire|          37|    22100|      16400|    280|30200| 24400|         118|    18800|      16400|          162|      5350|          49|        381|   32400|     25300|        381|    4390|      2300|   1670|
|E10000024|     Nottinghamshire|          38|    22900|      16000|    310|32400| 25100|         125|    18900|      16800|          186|      5660|          49|        419|   34200|     25800|        419|    4980|      2350|   2090|
|E12000005|       West Midlands|         260|    22800|      16100|   2100|31600| 25100|         734|    18600|      16400|         1160|      5780|          47|       2760|   33600|     25500|       2760|    4800|      2340|  13200|
|E10000028|       Staffordshire|          45|    21100|      15400|    339|32500| 25600|         135|    19100|      17100|          205|      6340|          51|        458|   34500|     26100|        458|    5080|      2410|   2330|
+---------+--------------------+------------+---------+-----------+-------+-----+------+------------+---------+-----------+-------------+----------+------------+-----------+--------+----------+-----------+--------+----------+-------+
only showing top 20 rows

In [4]:
import numpy as np
from pyspark.sql import functions as F
from pyspark.sql.functions import monotonically_increasing_id

# Condensing the data to only what is relevant
# Dropping self employement data

# Income condensed
Cond_Inc = Income

Cond_Inc = Cond_Inc.drop(col('Self_num_ind'))
Cond_Inc = Cond_Inc.drop(col('Self_mean'))
Cond_Inc = Cond_Inc.drop(col('Self_median'))

# Dropping pension data
Cond_Inc = Cond_Inc.drop(col('Pens_num_ind'))
Cond_Inc = Cond_Inc.drop(col('Pens_mean'))
Cond_Inc = Cond_Inc.drop(col('Pens_median'))

# Remove the non-applicable areas
Cond_Inc = Cond_Inc.filter(Cond_Inc.Area_code != 'Not applicable')

# Population condensed
Cond_Pop = Population

# Dropping columns for children
for colu in range(0,16):
    Cond_Pop = Cond_Pop.drop('',col(str(colu)))

# Dropping repeated data in both population and income
Cond_Pop = Cond_Pop.drop(col('Geography'))
Cond_Pop = Cond_Pop.drop(col('Name'))

# Remove commas from numbers
#Cond_Pop = Cond_Pop.map(lambda x: str(x).replace(',', '') if isinstance(x, str) else x)

# Join two dataframes
Data = Cond_Inc.join(Cond_Pop,Cond_Inc.Area_code == Cond_Pop.Code,'inner')
Data = Data.drop(col('Area_code'))

# Add new primary key
Data = Data.withColumn("id", monotonically_increasing_id())

# Get all codes in the new dataframe
codes = [row.Code for row in Data.select('Code').collect()]

Data = Data.withColumn('Num_ind',Data['Num_ind'].cast(IntegerType()))

# Temporary store for string data types with primary key
Temp_Store = Data.select('id','Code','Area')
Temp_Store = Temp_Store.withColumnRenamed('id', 'id1')

# Drop string data type columns
Data = Data.drop(col('Code'))
Data = Data.drop(col('Area'))

for c in Data.columns:
    Data = Data.withColumn(c, F.col(c).cast(IntegerType()))

Cast_Data = Data.join(Temp_Store,Data.id == Temp_Store.id1,'inner')
Cast_Data = Data.drop(col('id1'))

for col in Cast_Data.dtypes:
    print(col[0]+" , "+col[1])

25/03/06 11:36:48 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Num_ind , int
Mean , int
Median , int
Other_num_ind , int
Other_mean , int
Other_median , int
Tot_num_ind , int
Tot_mean , int
Tot_median , int
Tax_num_ind , int
Tax_mean , int
Tax_median , int
Tot_tax , int
All ages , int
16 , int
17 , int
18 , int
19 , int
20 , int
21 , int
22 , int
23 , int
24 , int
25 , int
26 , int
27 , int
28 , int
29 , int
30 , int
31 , int
32 , int
33 , int
34 , int
35 , int
36 , int
37 , int
38 , int
39 , int
40 , int
41 , int
42 , int
43 , int
44 , int
45 , int
46 , int
47 , int
48 , int
49 , int
50 , int
51 , int
52 , int
53 , int
54 , int
55 , int
56 , int
57 , int
58 , int
59 , int
60 , int
61 , int
62 , int
63 , int
64 , int
65 , int
66 , int
67 , int
68 , int
69 , int
70 , int
71 , int
72 , int
73 , int
74 , int
75 , int
76 , int
77 , int
78 , int
79 , int
80 , int
81 , int
82 , int
83 , int
84 , int
85 , int
86 , int
87 , int
88 , int
89 , int
90+ , int
id , int

In [5]:
'''
# Imports
from pyspark.ml.evaluation import RegressionEvaluator 
from pyspark.ml.recommendation import ALS

# Split data
train_data, test_data = Data.randomSplit([0.8, 0.2])

# Build recommender model
als = ALS(maxIter=5, regParam=0.01, userCol='Truster', itemCol='Movie', ratingCol='Rating') 

# Fit
model = als.fit(train_data)

# Evaluate
predictions = model.transform(test_data)
predictions.show()

# Drop null
predictions = predictions.na.drop() 

# RMSE
evaluator = RegressionEvaluator(metricName="rmse", labelCol="Rating",predictionCol="prediction") 
rmse = evaluator.evaluate(predictions) 
print("Root-mean-square error = " + str(rmse))
'''

'\n# Imports\nfrom pyspark.ml.evaluation import RegressionEvaluator \nfrom pyspark.ml.recommendation import ALS\n\n# Split data\ntrain_data, test_data = Data.randomSplit([0.8, 0.2])\n\n# Build recommender model\nals = ALS(maxIter=5, regParam=0.01, userCol=\'Truster\', itemCol=\'Movie\', ratingCol=\'Rating\') \n\n# Fit\nmodel = als.fit(train_data)\n\n# Evaluate\npredictions = model.transform(test_data)\npredictions.show()\n\n# Drop null\npredictions = predictions.na.drop() \n\n# RMSE\nevaluator = RegressionEvaluator(metricName="rmse", labelCol="Rating",predictionCol="prediction") \nrmse = evaluator.evaluate(predictions) \nprint("Root-mean-square error = " + str(rmse))\n'